/* Minimal css for proper table display */
body {
	background-color: white;
	color: black; /*This sets font color*/
	font-size: 20px; /* default size -- overridden */
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h1, th {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 28px;
}

table {
	border-collapse: collapse;
	/*border-collapse property sets whether the table borders are collapsed 
	  into a single border or detached as in standard HTML. */
}



th, td {
/*	padding: 20px;*/
	border: 2px #666 solid; /*box borders - Short for #666666 hex = Gray40 */
	text-align: center;
	width: 20px; /* allows for flexible "box" size setting in html <head> */
}

